<li data-target="#myCarousel" data-slide-to="<%= portfolio_counter %>" class="<%= portfolio.currently_active(portfolio_counter) %>" style="background-image: url(<%= portfolio.image.url(:small) %>)"></li>
