<li class="dropdown">
  <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Latest Blog Posts
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		 <%= render partial: 'partials/post', collection: latest_posts, as: :post %>
  </ul>
</li>
