<div class="resume-body p-2">
  <section class="resume-section summary-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-1 mb-3">Career Summary</h2>
    <div class="resume-section-content">
      <p class="mb-0">Experienced full-stack developer with more than 4 years of experience in the design, planning and implementation of web and mobile apps primarily using Ruby on Rails and React. Comfortable in an Agile/Scrum environment and adept at Cloud infrastructure design, primarily in AWS.</p>
    </div>
  </section><!--//summary-section-->
  <div class="row">
    <div class="col-xs-12">
      <section class="resume-section experience-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-1 mb-3">Work Experience</h2>
        <div class="resume-section-content">
          <div class="resume-timeline position-relative">
            <article class="resume-timeline-item position-relative pb-5">
              <div class="resume-timeline-item-header mb-2">
                <div class="d-flex flex-column flex-md-row">
                    <h3 class="resume-position-title font-weight-bold mb-1 float-left mt-0">Web Developer</h3>
                    <div class="resume-company-name ml-auto"> Association</div><div class="resume-company-name ml-auto pr-1">Alberta Motor </div>
                </div><!--//row-->
                <div style="clear: both;" class="resume-position-time">June 2015 - January 2019</div>
              </div><!--//resume-timeline-item-header-->
              <div class="resume-timeline-item-desc">
                <ul>
                  <li>Developed and maintained and a suite of 14 Ruby on Rails web applications serving AMA’s almost 1 million members, including an insurance quote app, a vehicle registration auto renewal app, <a href="https://roadreports.ama.ab.ca">Road Reports</a>, a driver education registration app, along with various other apps.</li>
                  <li>Utilized AWS services (EC2, RDS, S3) to deploy highly available and scalable applications to production, and wrote Ansible Scripts to build the infrastructure to use such services</li>
                  <li>Built a custom mobile application for iOS/Android app using React Native for the frontend and built the Serverless backend using AWS services such as Lambda (NodeJS), Appsync, DynamoDB, Firehose and Kinesis</li>
                  <li>Maintained and Improved an OAuth2 authentication provider that created a single point of authentication for all of AMA's membership apps
                  <li>Implemented a React JS shopping cart app that interacts with other React JS Point of Sale apps.</li>
                  <li>Was part of on-call rotation, diagnosing and resolving issues with the websites for a 24 hours/day for a week at a time.
                  <li>Followed a continuous integration/continuous delivery workflow to deliver frequent and reliable production deployments.
                  </li>
                  <li>Participated in pair programming with team members and gave code reviews using Github.</li>
                </ul>
                <h4 class="resume-timeline-item-desc-heading font-weight-bold">Rails Tech stack:</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Ruby on Rails/PostgresSQL</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery/CoffeeScript</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Handlebars</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Rspec</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Git</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS EC2/RDS/ElastiCache (Redis)</span></li>
                </ul>
                <h4 class="resume-timeline-item-desc-heading font-weight-bold">React Tech stack:</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">React JS / React Native</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">DynamoDB (NoSQL)</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS AppSync / GraphQL</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS Cognito</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Jest</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS Amplify / VS AppCenter</span></li>
                </ul>
                <h4 class="resume-timeline-item-desc-heading font-weight-bold">Other Technologies used:</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Node.js (AWS Lambda)</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Cloudformation / Serverless / SAM</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">CodePipeline</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Elastic Beanstalk</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS SES/SQS/SNS</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">API Gateway</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">S3/Cloudfront(static webpages)</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Kinesis/Pinpoint</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">F5 / AWS WAF&Shield</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS Systems Manager (patching)</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Datadog / CloudWatch</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Rollbar</span></li>
                </ul>
              </div><!--//resume-timeline-item-desc-->
            </article><!--//resume-timeline-item-->
            <article class="resume-timeline-item position-relative pb-5">
              <div class="resume-timeline-item-header mb-2">
                <div class="d-flex flex-column flex-md-row">
                    <h3 class="resume-position-title font-weight-bold mb-1 float-left mt-0">Intern</h3>
                    <div class="resume-company-name ml-auto">Adeara</div>
                </div><!--//row-->
                <div style="clear: both;" class="resume-position-time">July 2014 - December 2014</div>
              </div><!--//resume-timeline-item-header-->
              <div class="resume-timeline-item-desc">
                <ul>
                  <li>Developed internal company site to serve as central repository for company documentation and policy, used by EDC board members, 10 employees and dozens of volunteers</li>
                  <li>Implemented interface for entering company policy information that automates policy numbering</li>
                  <li>Designed custom printable templates for various digital manuals using CSS.</li>
                  <li>Engineered employee training software that presents information and administers quizzes to employees and volunteers, and allows their progress to be monitored.</li>
                </ul>
                <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Confluence</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Ruby on Rails</span></li>
                </ul>
              </div><!--//resume-timeline-item-desc-->
            </article><!--//resume-timeline-item-->
          </div><!--//resume-timeline-->
        </div>
      </section><!--//experience-section-->
      </div>
      <div>
      <section class="resume-section education-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-1 mb-3">Education</h2>
        <div class="resume-section-content">
          <ul class="list-unstyled">
            <li class="mb-2">
                <div class="resume-degree font-weight-bold float-left">Bachelor of Science: Computer Science</div>
                <div class="resume-degree-org ml-auto">University of Alberta</div>
                <div style="clear: both;" class="resume-degree-time ml-auto">2015</div>
            </li>
          </ul>
        </div>
      </section><!--//education-section-->
      <h2 style="clear: both;" class="resume-section-title text-uppercase font-weight-bold pb-1 mb-3">Skills</h2>
      <section>
        <div class="">

          <div class="mb-2">
            <div class="d-flex flex-column flex-md-row">
                <h3 class="resume-position-title font-weight-bold mb-1">HTML/CSS/Javascript</h3>
            </div>
          </div>
          <div class="">
            <ul>
              <li>Proficiency with modern web standards such as HTML5, CSS3 and ECMAScript</li>
              <li>Experience with React Native to create custom mobile applications on Android/iOS</li>
              <li>Experience with server-side javascript via NodeJS and its surrounding ecosystem such as Yarn, Babel and Webpack.</li>
              <li>Proficiency with frontend CSS frameworks such as Bootstrap and ZURB Foundation and as well as client side libraries such as jQuery.</li>
              <li>Experience with CoffeeScript and JavaScript templating such as Handlebars
              <li>Familiar with standard development techniques such as responsive design, AJAX and RESTful design</li>
            </ul>
          </div><!--//resume-timeline-item-desc-->
        </div><!--//resume-timeline-item-->
        <div class="">

          <div class="mb-2">
            <div class="d-flex flex-column flex-md-row">
              <h3 class="resume-position-title font-weight-bold mb-1">Ruby on Rails</h3>
            </div>
          </div>
          <div class="">
            <ul>
              <li>Experience writing self-documenting code that conforms to the <a href="https://github.com/rubocop-hq/ruby-style-guide">Ruby style guide.</a> and passes metric tools such as Rubocop and Cane</li>
              <li>Experience testing via RSpec and maximizing my code test coverage with Simplecov.</li>
              <li>Experience developing custom Gems and deploying to RubyGems.</li>
              <li>Understanding of various application servers such as Unicorn, Puma and Phusion Passenger in a production setting.</li>
              <li>
                <ul class="list-inline">
                  <li class="list-inline-item"><span>Favorite gems:</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Decent Exposure</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Draper</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Simple Forms</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">HAML</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Dotenv Rails</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Pry</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">Better Errors</span></li>
                </ul>
              </li>
            </ul>

          </div><!--//resume-timeline-item-desc-->
        </div><!--//resume-timeline-item-->
        <div style="clear: both;">

          <div class="mb-2">
            <div class="d-flex flex-column flex-md-row">
                <h3 class="resume-position-title font-weight-bold mb-1">Databases</h3>
            </div><!--//row-->
          </div>
          <div class="">
            <ul>
              <li>Practical and theoretical understanding of relational database concepts and design.</li>
              <li>Experience modelling efficient database designs from scratch using ER-Diagrams.</li>
              <li>
                <ul class="list-inline">
                  <li class="list-inline-item"><span">Proficient in:</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                  <li class="list-inline-item"><span class="badge badge-primary badge-pill">NoSQL (DynamoDB)</span></li>
                </ul>
              </li>
            </ul>


          </div><!--//resume-timeline-item-desc-->
        </div><!--//resume-timeline-item-->
      </section>

      <section>
        <div>
            <div class="mb-2">
              <h3 class="resume-position-title font-weight-bold mb-1">Other Skills</h3>
              <ul class="list-inline">
                <li class="list-inline-item"><span class="badge badge-light">Linux</span></li>
                <li class="list-inline-item"><span class="badge badge-light">MacOS</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Java</span></li>
                <li class="list-inline-item"><span class="badge badge-light">C</span></li>
                <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Unit/Integration Testing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
              </ul>
          </div><!--//resume-skill-item-->
        </div><!--resume-section-content-->
      </section><!--//skills-section-->
    </div>
  </div><!--//row-->
</div><!--//resume-body-->
