<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
<article class="resume-wrapper text-center position-relative container">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <header class="resume-header pt-md-0 print">
	    <div class="media flex-column flex-md-row">
		    <div class="media-body p-2 d-flex flex-column flex-md-row mx-auto mx-lg-0">
			    <div class="primary-info col-xs-6">
				    <h1 class="name mt-2 mb1 text-white text-uppercase text-uppercase">Jonathan Weyermann</h1>
				    <div class="title mb-3">Full Stack Developer</div>
				    <ul class="list-unstyled">
					    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-1"></i>weyermannx@gmail.com</a></li>
					    <li class="mb-2"><a href="#"><i class="fas fa-phone fa-fw mr-2" data-fa-transform="grow-1"></i>(587) 983-4845</a></li>
				    </ul>
			    </div><!--//primary-info-->
			    <div class="secondary-info col-xs-6 mt-2">
				    <ul class="resume-social list-unstyled">
                <li class="mb-3"><span class="fa-container text-center mr-2"><i class="fas fa-map-marker-alt fa-2x fa-fw"></i></span>10981 74th AVE NW, T6G 0E5, Edmonton, Alberta</li>
                <li class="mb-3"><a><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-2x fa-fw"></i></span>linkedin.com/in/jonathanweyermann/</a></li>
                <li class="mb-3"><a><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-2x fa-fw"></i></span>github.com/jonathanweyermann</a></li>
                <li><a><span class="fa-container text-center mr-2"><i class="fas fa-2x fa-globe"></i></span>www.jonathanweyermann.com</a></li>
				    </ul>
			    </div><!--//secondary-info-->

		    </div><!--//media-body-->
	    </div><!--//media-->
    </header>
    <%= render partial: 'resume_body' %>


  </div>
</article>
