.content {
  margin: 0 0;
}

.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

.orange-background {
  background-color: orange;
}

.limit_button_width {
  white-space: normal;
  width: 120px;
}
