<div class="">
	<div>
		<%= image_tag(post_chunk.image, {style: "width:100%;"}) %>
	</div>
	<div class="">
			<h2 class="mtb-2"><%= post_chunk.name %><span></h2>
			<%= raw post_chunk.description %>
	</div>
</div>
