<div id="post-index">
    <% if @posts.exists? %>
      <% @posts.each_slice(2) do |slice| %>
          <div class="row equal">
            <% slice.each do | post | %>
              <%= render partial: 'fragment', locals: { post: post, user: @users.find(post.user_id)} %>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <p>No posts yet</p>
    <% end %>
</div>
