<div class="row well">
  <div class="col-md-8">
  	<h1>Welcome to my Homepage</h1>
    <h4>
        <p>On this site I will discuss some of my interests, Personal Productivity, and some of the projects I'm working on.</p>
        <p>I'm currently a computer science student at the University of Alberta, Canada, and I'm going to be graduating in May, 2015</p>
        <p>I'm very interested in Ruby on Rails, as well as mobile development</p>
       
	</h4>
  </div>
  <div class="col-md-4" align="center">
    <%= image_tag "Jonathan.png" %>
  </div>
</div>
