body{
	font-family:'Ariel', sans-serif;
	background:#fff;
	line-height:1.6em;
}

.sidebar .col-xs-8 {
	line-height: 1.2 !important;
	padding-right: 5px;
	padding-left: 5px;
}

.content{
	margin: 0 80px;
}

.navbar{
	overflow:auto;
	min-height:100px;
	background:#0747A6;
	color:#fff;
	font-size:18px;
	border:0;
	border-radibous: 0;
}

.navbar h1{
	margin: 10px 0 0 0;
	padding:0;
}

.navbar a {
	color:#fff !important;
}

.navbar a:hover{
	color:#ff353f;
}


.navbar ul{
	margin-top:22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none;
	color:#ff953f !important;
}

.search-form {
	margin-top:30px;
}

.search-form input[type='text']{
	border-radius:0;
	height:38px;
}

.search-form .form-group {
	display:inline-block;
	margin-bottom:0;
	vertical-align: middle;

}

.search-form .btn{
	border:0;
	height:38px;
	margin-top:0;
	border-radius:0;
	margin-left:-5px;
}

.search-form .form-control{
	background:#f4f4f4;
	border:1px solid #eee;
}

.btn {
	border:none;
	border-radius:0;
}

.btn-primary {
	background:#ff953f;
}

.btn:hover {
	background:#ccc;
}

.post{
	border:1px #ccc solid;
	background:#F4F5F5;
	margin-bottom:30px;
}

.post-content{
	padding:20px;
	box-sizing:border-box;
}

.post h3{
	margin:0;
	padding:0;
}
.post img{
	width:100%;
}

small{
	background:#36424a;
	color:#fff;
	display:block;
	margin:10px 0;
	padding:5px 10px;
}

.post .btn{
	display:block;
	margin-top:20px;

}

.comments img{
	width:100%;
	margin:3px;
}

footer{
	background:#07575B;
	color:#fff;
	text-align: center;
	height:60px;
	padding-top:20px;
	margin-top:30px;
}

.sidebar {
	padding: 10px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	background-color: #F4F5F4;
}

.unmargin {
	margin-left: 0px;
	margin-right: 0px;
}

.side_image {
	padding-left: 1px;
  padding-right: 1px;
	max-width: 100px;
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.4em;
	}
	.navbar-brand {
		width: 30px;
	}
}

@media screen and (min-width: 500px) {
	.post-simple {
		font-size: 21px;
		font-family: "medium-content-serif-font,Georgia,Cambria,Times New Roman,Times,serif";
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0.01rem;
		line-height: 1.28;
	}
}

@media screen and (min-width: 500px) {
  .sidebar {
		font-size: 21px;
	}
}

@media screen and (min-width: 992px) {
  .sidebar {
		font-size: 12px;
	}
}
